---
interface Props {
	title: string;
    tags: string[];
    date: string;
    coverUrl: string;
    url: string;
}

const {title, tags, date, coverUrl, url} = Astro.props;
---


    <a href={url}>

        <div class="flex gap-4 lg:flex-col h-full justify-between">
            <div class="w-3/12 sm:w-4/12 lg:w-full">
                <img src={coverUrl} alt={title} class="rounded-lg w-full h-20 lg:h-36 object-cover" />
            </div>
            <div class="w-9/12 lg:w-full h-full flex flex-col border-b border-slate-700 border-dashed">
                <div class="flex-1 flex justify-start lg:mb-2 ">
                    <h1 class="text-base text-gray-50 font-semibold line-clamp-2">{title}
                    </h1>
                </div>

                <div class="flex-1 flex flex-col justify-end">
                    <div class="text-xs text-red-400">
                        {tags != null && tags.length > 0 && tags.map((tag) => <span class="mr-1">#{tag}</span>)}
                    </div>
                    <div class="text-xs text-gray-400 text-right">{date}</div>
                </div>
            </div>
        </div>

    </a>


