---
interface Props {
	title: string;
    tags: string[];
    date: string;
    coverUrl: string;
    url: string;
}

const {title, tags, date, coverUrl, url} = Astro.props;
---
<div class="flex mb-3">

    <a href={url} class="w-full">

        <div class="flex gap-4">
            <div class="w-3/12">
                <img src={coverUrl} alt={title} class="rounded-lg w-full h-20 object-cover" />
            </div>
            <div class="w-9/12 flex flex-col justify-between border-b border-slate-700 border-dashed">
                <div class="text-base text-gray-50 font-semibold line-clamp-2">{title}</div>
                <div>
                    <div class="text-xs text-gray-300">
                        {tags != null && tags.length > 0 && tags.map((tag) => <span class="mr-1">#{tag}</span>)}
                    </div>
                    <div class="text-xs text-gray-600 text-right">{date}</div>
                </div>
            </div>
        </div>

    </a>

</div>
